.content {
    display: flex;
}
.currentColor {
    width: 100px;
    height: 100px;
}
.grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
